<div class="container">
    <% if alert %>
    <div>
        <br/>
        <p class="alert alert-danger"><i class="weui_icon_warn">&nbsp;</i><%= alert %></p>
    </div>
    <% elsif !@found.nil? %>
    <div>
        <br/>
        <p class="alert alert-success"><i class="weui_icon_success">&nbsp;</i><span style="font-size:3em"><%= @found.location %></span></p>
    </div>
    <% end %>
      <form class="form-signin" method="POST" action="/phones/query">
        <h2 class="form-signin-heading">手机查询</h2>
        <label for="inputEmail" class="sr-only">手机号码 (前7位)</label>
        <input type="phone" value="<%= @phone %>" id="phone" name="phone" class="form-control" maxlength = 7 placeholder="电话号码" required autofocus>
        <br/><br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">查询</button>
      </form>
    </div>
