<!DOCTYPE html>
<html>
<head>
  <title>PhoneCheck</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <!-- <%= csrf_meta_tags %> -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
